body{
    color: white;
    background-color: pink;
}
.heading{
    width: 80%;
    font-size: 30px;
}
.name_objects{
    color: red;
}
#camera, #result{
    border: 2px dashed black;
    width: 300px;
    height: 300px;
}